<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog">Blog</a>
    <h1>Astro Learning Blog</h1>
    <p>My blog where I will create and post my learning experience?!?</p>
</body>
